@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-danger">Brak dostępu</h1>
<h5 class="text-danger">Nie masz dostępu do tego zasobu.</h5>
