@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="clean-block clean-blog-list dark">
    <div class="container">
        <div class="block-heading">
            <h1>@ViewData["Title"]</h1>
        </div>
        <p>Pomyślnie wylogowano ze strony.</p>   
    </div>
</section>