@page
@model ModernPhysics.Web.Pages.Admin.SettingsModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Pages/Shared/_LayoutDashboard.cshtml";
}

<h1 class="display-4">Modern Physics - Settings</h1>
<hr>
