@page
@model ModernPhysics.Web.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <section class="clean-block clean-testimonials dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Kategorie</h2>
                <p>Dostępne kategorie z materiałami.</p>
            </div>
            <div class="row d-lg-flex justify-content-lg-center" style="padding: 0% 10%;">

                @if (Model.Categories == null || Model.Categories.Count() == 0)
                {
                    <h5>Brak kategorii do wyświetlenia!</h5>
                }
                else
                {
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-lg-4" style="padding: 15px;">
                            <a href="/Resources?Category=@category.FriendlyName">
                                <div class="card clean-testimonial-item border-0 rounded-0 card-hover" style="height: 100%;">
                                    <div class="card-body text-center">
                                        <i class="@category.Icon" style="font-size: 56px;color: rgb(12,154,234);"></i>
                                        <h3 style="margin: 30px 0px 0px 0px;">@category.Name</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </section>