@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<section class="clean-block clean-blog-list dark">
    <div class="container">
        <div class="block-heading">
            <h1 class="text-danger">Błąd.</h1>
            <h5>Coś poszło nie tak podczas przetwarzania zapytania, spróbuj ponownie :(</h5>
        </div>
    </div>
</section>