@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="clean-block clean-hero" style="background-image: url('img/main/physics.jpg'); color: rgba(9, 162, 255, 0.5);">
    <div class="text">
        <h2>Fizyka Współczesna</h2>
        <p>Platforma e-learningowa zawierająca informacje oraz materiały do nauki fizyki współczesnej.</p>
        <p>Szukaj w materiałach:</p>
        <form asp-page="/Resources" method="get">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" asp-for="Search">
                    <div class="input-group-append">
                        <button class="btn btn-dark btn-block" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Ostatnio dodane</h2>
        </div>
        <div class="row align-items-center">

            @if (Model.Posts == null || Model.Posts.Count() == 0)
            {
                <h5>Nie dodano jeszcze żadnych materiałów.</h5>
            }
            else
            {
                @foreach (var post in Model.Posts)
                {
                    <div class="col-lg-4 col-12 mb-4">
                        <a href="Resources/@post.Category.FriendlyName/@post.FriendlyUrl">
                            <h3>@post.Title</h3>
                        </a>
                        <a href="Resources/@post.Category.Name">
                            <h5 class="text-muted">@post.Category.Name</h5>
                        </a>
                        <p>@post.Shortcut</p>     
                    </div>
                }
            }
        </div>
    </div>
</section>