@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="clean-block clean-hero" style="background-image: url('img/main/physics.jpg'); color: rgba(9, 162, 255, 0.5);">
    <div class="text">
        <h2>Fizyka Współczesna</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        <form asp-page="/Resources" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" asp-for="Search">
                    <div class="input-group-append">
                        <button class="btn btn-dark btn-block" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Ostatnio dodane</h2>
        </div>
        <div class="row align-items-center">

            @if (Model.Posts == null || Model.Posts.Count() == 0)
            {
                <h5>Nie dodano jeszcze żadnych postów.</h5>
            }
            else
            {
                @foreach (var post in Model.Posts)
                {
                    <div class="col-md-6 col-lg-6">
                        @if(post.Category != null)
                        {
                            <a href="Resources/@post.Category.Name/@post.FriendlyUrl">
                                <h3>@post.Title</h3>
                            </a>
                            <h5 class="text-muted">@post.Category.Name</h5>
                        }
                        else
                        {
                            <a href="Resources/no-category/@post.FriendlyUrl">
                                <h3>@post.Title</h3>
                            </a>
                            <h5 class="text-muted">Bez kategorii</h5>
                        }                 
                        <div class="getting-started-info">
                            <p>@post.Shortcut</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>