@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="clean-block clean-hero" style="background-image: url('img/main/physics.jpg'); color: rgba(9, 162, 255, 0.5);">
    <div class="text">
        <h2>Fizyka Współczesna</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text">
                <div class="input-group-prepend"></div>
                <div class="input-group-append"><button class="btn btn-dark btn-block" type="button"><i class="fa fa-search"></i></button></div>
            </div>
        </div>
    </div>
</section>

<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Ostatnio dodane</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-6">
                <a href="post.html">
                    <h3>A-tomos, czyli o-soba</h3>
                </a>
                <h5 class="text-muted">Fizyka atomowa</h5>
                <div style="margin-bottom: 10px;"><a class="badge badge-primary" style="margin-right: 5px;" href="#">tag1</a><a class="badge badge-primary" style="margin-right: 5px;" href="#">tag2</a></div>
                <div class="getting-started-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <a href="post.html">
                    <h3>Jak policzyć atomy?</h3>
                </a>
                <h5 class="text-muted">Fizyka atomowa</h5>
                <div class="getting-started-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>