@page
@model ModernPhysics.Web.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="clean-block">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Polityka Prywatości</h2>
        </div>
        <div class="block-heading mb-3">
            <h3 class="text-info">Pliki Cookies</h3>
        </div>
        <div class="block-body">
            <ol>
                <li><p>Witryna fizyki współczesnej używa cookies. Są to niewielkie pliki tekstowe wysyłane przez serwer www i przechowywane przez oprogramowanie komputera przeglądarki. Kiedy przeglądarka ponownie połączy się ze stroną, witryna rozpoznaje rodzaj urządzenia, z którego łączy się użytkownik. Parametry pozwalają na odczytanie informacji w nich zawartych jedynie serwerowi, który je utworzył. Cookies ułatwiają więc korzystanie z wcześniej odwiedzonych witryn.</p></li>  
                <li><p>Gromadzone informacje dotyczą adresu IP, typu wykorzystywanej przeglądarki, języka, rodzaju systemu operacyjnego, dostawcy usług internetowych, informacji o czasie i dacie, lokalizacji.</p></li>
                <li><p>Zebrane dane służą do monitorowania i sprawdzenia, w jaki sposób użytkownicy korzystają z naszych witryn, aby usprawniać funkcjonowanie serwisu zapewniając bardziej efektywną i bezproblemową nawigację. Monitorowania informacji o użytkownikach dokonujemy korzystając z narzędzia Google Analytics, które rejestruje zachowanie użytkownika na stronie.</p></li>
                <li><p>Na witrynie wykorzystujemy następujące pliki cookies:</p></li>
                <ol type="a">
                    <li><p>„niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach serwisu, np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania w ramach serwisu;</p></li>
                    <li><p>pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach serwisu;</p></li>
                    <li><p>„wydajnościowe” pliki cookies, umożliwiające zbieranie informacji o sposobie korzystania ze stron internetowych serwisu;</p></li>
                    <li><p>„funkcjonalne” pliki cookies, umożliwiające „zapamiętanie” wybranych przez użytkownika ustawień i personalizację interfejsu użytkownika.</p></li>
                </ol>
                <li>
                    <p>Użytkownik w każdej chwili ma możliwość wyłączenia lub przywrócenia opcji gromadzenia cookies poprzez zmianę ustawień w przeglądarce internetowej. Instrukcja zarządzania plikami cookies jest dostępna na stronie:
                    <a href="http://www.allaboutcookies.org/manage-cookies">http://www.allaboutcookies.org/manage-cookies</a></p>
                </li>
            </ol>
        </div>
    </div>
</section>