@page
@model ModernPhysics.Web.Areas.Admin.Pages.Manage.NotFoundModel
@{
    ViewData["Title"] = "Not found";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-danger">404 - Not Found.</h1>
<h5>Nie znaleziono zasobu.</h5>