@page
@model ModernPhysics.Web.Areas.Admin.Pages.Manage.SettingsModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Areas/Admin/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Modern Physics - Settings</h1>
<hr>
