@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mr-3">
        <a class="nav-link" asp-area="Admin" asp-page="/Manage/Index">Zarządzanie</a>
    </li>
    <li class="nav-item mr-3">
        <form class="form-inline" asp-area="Admin" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="nav-item mr-3">
        <a class="nav-link" asp-area="Admin" asp-page="/Login">Logowanie</a>
    </li>
}
</ul>
